<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-success">
          <a class="navbar-brand">TKS Card Games inc.</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <p>Logged in as: CURRENT USER (Only shows when logged in)</p>
                <a class="nav item nav-link" href="/login">Login</a>
                <a class="nav item nav-link" href="/register">Register</a>
                <p>
                <a class="nav item nav-link" href="/logout">Logout(Only display when logged in)</a>
                </p>
            </div>
        
          </div>
          <div class="globalUserOptions" id="globalUserOptions">
              <a class="userProfile" href="/myProfile">My Profile</a>
              <a class="userProfile" href="/highScores">HighScores</a>
              <a class="userProfile" href="/userLookup">UserLookup</a>
          </div>

        </nav>

</header>
      