<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-success">
          <a class="navbar-brand">TKS Card Games inc.</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <p>Logged in as: CURRENT USER (Only shows when logged in)</p>
                <a class="nav item nav-link" href="users/login">Login</a>
                <a class="nav item nav-link" href="users/register">Register</a>
                <!-- <a class="nav item nav-link" href="users/logout">Logout(Only display when logged in)</a> -->
                <form class="form-inline" method="POST" action="/users/logout">
                  <button type="submit" class="btn btn-primary">Logout</button> 
                </form>
            </div>
        
          </div>
          <div class="globalUserOptions" id="globalUserOptions">
              <a class="userProfile" href="users/myProfile">My Profile</a>
              <a class="userProfile" href="users/highScores">HighScores</a>
              <a class="userProfile" href="users/userLookup">UserLookup</a>
          </div>

        </nav>

</header>
      