<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include ./partials/_header %>

  </head>

  <body>
    <h1>Select your game!</h1>
    <form>
      <a href="uno" class="btn btn-default">UNO!</a>
      <button>Yu-Gi-Oh!</button>
      <button>Pokemon!</button>
    </form>
  </body>
</html>
