<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Card Games</title>
  <link rel="stylesheet" href="styles/styles.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- ------------------Nav Bar --------------- -->
  <section id="nav-bar">


    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="/images/LogoMakr_2z32b9.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Testimonials</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
      </div>
    </nav>


  </section>

  <!-------------Banner section----------->
  <section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="websiteTitle">TKS CARD GAMES!</p>
                <p>Play all of your favourite card games with your friends and family! We have the most popular 
                    games such as Dos, Pokemans and Yu-Gee-Oh! </p>
                <button class="login">Login</button>
                <button class="register">SignUp</button>
            </div>
            <div class="col-md-6 text-center">
                <img src="/images/—Pngtree—virtual reality, character, board game,_4377825.png" class="img-fluid">
            </div>
        </div>
    </div>
    <img src="/images/wave-top.png" class="topWave">

  </section>

<!-- ---------------------- Game Section ----------------------- -->
  <section id="games">
    <div class="container text-center">
        <h1 class="title">Select your Game!</h1>
        <div class="row text-center">
            <div class="col-md-4 games">
                <img src="/images/1200px-UNO_Logo.svg.png" class="unoIMG">

                <p class="unoP">Crazy Eights with a twist! Be the first to get rid of all the cards in your hand to win!</p>
            </div>
            <div class="col-md-4 games">
                <img src="/images/300px-Yu-Gi-Oh!_Duelist_logo.png" class="yugiohIMG">

                <p class="yugiohP">Drop your opponents life points to zero to be victorious. Active those trap and magic cards!</p>
            </div>
            <div class="col-md-4 games">
                <img src="/images/US_Pokemon_Logo.png" class="pokemonIMG">

                <p class="pokemonP">Battle it out with your powerful Pokemon at your side! Gotta catch em' all and be a champion!</p>
            </div>
        </div>
        <button class="allGamesButton">All Games</button>
    </div>
  </section>

<!-- -------------------- About Us Section ------------------------- -->

  <section id="aboutUs">
    <div class="container">
        <h1 class="title text-center">About Us!</h1>
        <div class="row">
            <div class="col-md-6 aboutUs">
                <p class="aboutUsTitle">Why we're different</p>
                <ul>
                    <li> Our games are all up-to-date with the newest and greatest features! </li>
                    <li> We're constantly upgrading the website to better fit our endlessly expanding userbase! </li>
                    <li> Our design is simple, interactive and easy to follow! </li>
                    <li> No downtime! *(while we're at LHL) </li>
                    <li> An amazing support system that deals with all of your concerns. Just find us on the floor at LHL! </li>
                    <li> Rise to glory and reach the top of our leaderboards! </li>
                </ul>

            </div>
            <div class="col-md-6">
                <img src="/images/—Pngtree—2 5d data stereo_4838368.png" class="aboutUsIMG">
            </div>
        </div>


    </div>







  </section>






</body>
<!-- <a href='https://pngtree.com/so/virtual reality'>virtual reality png from pngtree.com</a> -->
</html>


