<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

  </head>

  <body>
    <h1>The UNO page!</h1>
    <form method="POST" action="uno/1">
      <button name="startGame" value="startGame">Start a game of UNO!</button>
    </form>
  </body>
</html>
